@{
    ViewData["Title"] = "Full Band List";
    ViewData["PageHeading"] = "Full Band List";
}

<section class="wrap">

    @foreach (var item in Model)
     {
        <div class="bandThumb">
            <div><img src="~/Images/@item.BandImage" height="400" width="400" /></div>
            <h3>@item.BandName</h3>
            <p><a asp-controller="Home" asp-action="BandDetails" asp-route-id="@item.BandID">Details</a></p>
        </div>

     }

</section>